---
import Layout from "../layouts/Layout.astro";
import ethLogo from "../images/eth-logo.png";
import Carousel from "../components/ClientCarousel.astro";
import Card from "../components/ClientCard.astro";
import ClientProjectStatus from "../components/ClientProjectStatus.astro";
import ProjectStatus from "../components/ProjectStatus.astro";
import Dropdown from "../components/Dropdown.astro";

import collections from "../data/collections";
import type { Collection } from "../data/collections";

const featuredCollections: Collection[] = [
  {
    ...collections[Math.floor(Math.random() * collections.length)],
    tokens: [
      {
        title: "Token 1",
        src: "/token-1.jpg",
        width: 5616,
        height: 3744,
      },
      {
        title: "Token 2",
        src: "/token-2.jpg",
        width: 2631,
        height: 2629,
      },
      {
        title: "Token 3",
        src: "/token-3.jpg",
        width: 2160,
        height: 2160,
      },
      {
        title: "Token 4",
        src: "/token-4.jpg",
        width: 3453,
        height: 5180,
      },
      {
        title: "Token 1",
        src: "/token-1.jpg",
        width: 5616,
        height: 3744,
      },
      {
        title: "Token 2",
        src: "/token-2.jpg",
        width: 2631,
        height: 2629,
      },
      {
        title: "Token 4",
        src: "/token-4.jpg",
        width: 3453,
        height: 5180,
      },
      {
        title: "Token 1",
        src: "/token-1.jpg",
        width: 5616,
        height: 3744,
      },
      {
        title: "Token 2",
        src: "/token-2.jpg",
        width: 2631,
        height: 2629,
      },
      {
        title: "Token 4",
        src: "/token-4.jpg",
        width: 3453,
        height: 5180,
      },
      {
        title: "Token 1",
        src: "/token-1.jpg",
        width: 5616,
        height: 3744,
      },
      {
        title: "Token 2",
        src: "/token-2.jpg",
        width: 2631,
        height: 2629,
      },
    ],
  },
];
---

<Layout title="Collections">
  <main class="relative z-10">
    <section class="w-full bg-grey-darker text-white snap-start">
      <div class="px-10 pt-10 pb-0 md:pb-4 lg:pb-10">
        <h5 class="alt text-center md:text-right">Featured collection</h5>
        <a href={`/collections/${featuredCollections[0].slug}`}>
          <h1 class="text-center md:text-right text-white mt-2">
            {featuredCollections[0].title}
          </h1>
        </a>
        <div
          class="flex flex-col md:flex-row gap-y-0.5 items-center md:justify-end mt-1"
        >
          <ProjectStatus status={featuredCollections[0].status} />
          <h4 class="inline-block md:pl-5 pt-1 md:pt-0">
            By <a href={`/artists/${featuredCollections[0].artist.slug}`}
              >{featuredCollections[0].artist.name}
            </a>
          </h4>
          <div class="flex flex-row items-center">
            <h4 class="inline-block md:pl-5 font-normal">
              <strong>{featuredCollections[0].tokens.length}</strong>
              of <strong>{featuredCollections[0].totalTokens}</strong> minted
            </h4>
            <h4 class="inline-flex flex-row pl-3 justify-center items-center">
              <img src={ethLogo} width="20" alt="" />
              <span class="pl-1">{featuredCollections[0].mintPrice}</span>
            </h4>
          </div>
        </div>
      </div>
      <Carousel
        className="pb-10 lg:pb-20"
        data={featuredCollections[0].tokens}
        activeCellWidth="80%"
      >
        <div slot="template" class="carousel-item w-2/3 lg:w-1/4">
          <Card
            backgroundImage="${item.src}"
            aspectRatio="${item.width} / ${item.height}"
          />
        </div>
      </Carousel>
    </section>
    <section class="relative m-0 md:mt-4 lg:mt-12 p-4 lg:p-0">
      <div class="container bg-peach rounded-4xl px-6 py-4 md:px-11 md:py-8">
        <div class="dropdown-wrapper z-40">
          <div class="flex flex-col lg:flex-row items-start">
            <button class="btn btn--standard btn--grey scale-75 md:scale-100">
              <h4 class="normal-case">Filters</h4>
            </button>
            <Dropdown
              className="inline-block ml-6 hidden lg:block"
              label="Sort By"
              align="left"
              id="sortBy"
              selects={[
                { label: "A-Z", event: "A-Z" },
                { label: "Z-A", event: "Z-A" },
              ]}
            />
          </div>
          <Dropdown
            className="inline-block lg:ml-6"
            label="Browse"
            id="sortBy"
            listenTo="allCollections"
            selects={[
              {
                label: "Currently Minting",
                filters: [["status", "CurrentlyMinting"]],
              },
              {
                label: "Minting Completed",
                filters: [["status", "FinishedMinting"]],
              },
              {
                label: "Minting Paused",
                filters: [["status", "MintingPaused"]],
              },
            ]}
          />
        </div>
        <div class="content-wrapper">
          <div
            x-data={`filterables({
            id: "allCollections",
            listenTo: ["sortBy"],
            data: ${JSON.stringify(collections)},
          })`}
          >
            <div
              class="transition-opacity flex flex-col mt-8 gap-y-8 lg:gap-y-16"
              x-ref="container"
            >
              <template x-for="collection in filtered">
                <div
                  x-data="{ show: false }"
                  class="md:grid grid-cols-10 transition-all"
                  :class="show === false ? 'opacity-0 translate-y-2' : 'opacity-100 translate-y-0'"
                  x-intersect.threshold.50="show = true"
                >
                  <div class="col-span-4">
                    <img
                      class="aspect-square w-full"
                      alt="collection.title"
                      :src="collection.coverImg"
                    />
                  </div>
                  <div
                    class="mt-6 lg:mt-0 col-span-6 flex flex-col items-end text-right justify-center"
                  >
                    <a
                      :href="`/collections/${collection.slug}`"
                      class="text-right w-full lg:max-w-[75%]"
                    >
                      <h1 x-text="collection.title"></h1>
                    </a>
                    <a
                      :href="`/artists/${collection.artist.slug}`"
                      class="group"
                    >
                      <div class="flex flex-row my-2 items-center">
                        <div>
                          <h4 x-text="`By ${collection.artist.name}`"></h4>
                          <h4 class="font-normal group-hover:text-black">
                            <strong x-text="collection.tokens.length"></strong>
                            of <strong x-text="collection.totalTokens"></strong>
                            minted
                          </h4>
                        </div>
                        <img
                          :src="collection.artist.profilePhoto"
                          :alt="collection.artist.name"
                          class="aspect-square h-10 ml-3 mb-1 rounded-lg grayscale group-hover:grayscale-0 transition-all"
                        />
                      </div>
                    </a>
                    <div
                      class="collection-description lg:ml-10"
                      x-html="collection.description"
                    >
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<script>
  import Alpine from "alpinejs";
  import intersect from "@alpinejs/intersect";

  Alpine.plugin(intersect);
</script>
