---
import {
  fetchFromAPI,
  getLargestPossibleImage,
  projectStatusFilters,
} from "../library/helpers";
import Layout from "../layouts/Layout.astro";
import ethLogo from "../images/eth-logo.png";
import ProjectStatus from "../components/ProjectStatus.astro";
import Token from "../components/Token.astro";
import Dropdown from "../components/Dropdown.astro";
import CollectionTemplate from "../components/ClientCollection.astro";
import Carousel from "../components/ClientCarousel.astro";

import masterWhitelist from "../whitelist.json";

import orderBy from "lodash/orderBy";
import sortBy from "lodash/sortBy";
import findIndex from "lodash/findIndex";
import { find } from "lodash";

const { data: settings } = await fetchFromAPI("/general-setting", {
  populate: [
    "collections",
    "collections.artist",
    "collections.tokens",
    "collections.tokens.slug",
    "collections.tokens.image",
  ],
});

const featuredCollections = settings.collections.map((collection) => {
  return {
    ...collection,
    whitelistedAddress: masterWhitelist.hasOwnProperty(collection.slug)
      ? masterWhitelist[collection.slug]
      : [],
    tokens: orderBy(collection.tokens, (token) => Number(token.tokenId)).slice(
      0,
      collection.totalSupply
    ),
  };
});

const featuredTokens = [].concat.apply(
  [],
  featuredCollections.map((collection) => collection.tokens)
);

const { data: collections } = {
  data: [
    {
      id: 22,
      status: "WhitelistOnly",
      title: "SHiELD:AGE",
      slug: "shield-age",
      mintPrice: 59000000000000000,
      artist: {
        id: 1,
        name: "Cotoh Tsumi",
        slug: "cotoh-tsumi",
        bio: "<p>Japanese Artist</p><p>Well-known for creating the key visuals for Japanese music<br>unit “YOASOBI”.</p><p>&nbsp;</p><p>&nbsp;</p>",
        description:
          "<p>Based on an awareness that there is no boundary between illustrations (especially digital works) and contemporary<br>artworks in the first place, Cotoh has succeeded in producing contemporary artworks with unique interpretation of<br>mass-consumed illustrations and their printing techniques. Cotoh’s works include silkscreen, giclee prints, ukiyo-e<br>woodblock prints, and hand paintings, all of which are unique (except for ukiyo-e woodblock prints). By deliberately<br>limiting artwork creation to using techniques based on mass consumption, Cotoh seeks to bring a breath of fresh<br>air to the Japanese context in which these artworks have been generally evaluated as commercial products.<br>With no particularity in style in terms of design or method of output, Cotoh’s work is constantly being updated. A<br>contemporary artist who continues to challenge an approach that is distinctly different from the artists who depict<br>urban female characters of today.<br><br>Solo Exhibitions<br>2021<br>Enlightenment for easy printing (MEDEL GALLERY SHU / Tokyo)<br>Cotoh Tsumi Art Exhibition (AI PLAZA 1F Gallery / Shanghai)<br>ANALOG (GALLERY JO YANA / Marseille)<br>Sneaker GIRL (atmos propeller street / Tokyo)<br>q (Anicoremix Gallery / Tokyo)<br>COLOR GIRL vol.2 – mediocrity complex (Fukuoka PARCO / Fukuoka)<br>GIRLS FACE (hotel koe tokyo / Tokyo)</p><p>&nbsp;</p><p>&nbsp;2020<br>Pop and Flutter (rough cafe / Saga)<br>COLOR GIRL (Nagoya PARCO / Nagoya)<br>Color-washed (Galerie LE MONDE / Tokyo)<br>Camera only (Orlaya Camera / Tokyo)</p>",
        createdAt: "2022-10-04T07:45:59.623Z",
        updatedAt: "2022-11-26T06:06:52.171Z",
        publishedAt: "2022-11-22T07:14:38.395Z",
      },
      coverImg: {
        id: 1466,
        name: "SHiELD_AGE_GIF.gif",
        alternativeText: "SHiELD_AGE_GIF.gif",
        caption: "SHiELD_AGE_GIF.gif",
        width: 1080,
        height: 1080,
        formats: null,
        hash: "S_Hi_ELD_AGE_GIF_05367454ea",
        ext: ".gif",
        mime: "image/gif",
        size: 16857.97,
        url: "https://cdn.arttokyoglobal.io/S_Hi_ELD_AGE_GIF_05367454ea.gif",
        previewUrl: null,
        provider: "aws-s3",
        provider_metadata: null,
        createdAt: "2022-11-25T18:30:04.853Z",
        updatedAt: "2022-11-25T18:30:04.853Z",
      },
    },
  ],
  meta: {
    pagination: {
      page: 1,
      pageSize: 25,
      pageCount: 1,
      total: 1,
    },
  },
};

const firstStatusIndex = findIndex(
  projectStatusFilters,
  (o) => o.filters[0][1] === collections[0].status
);

const xx = projectStatusFilters[firstStatusIndex];
projectStatusFilters.splice(firstStatusIndex, 1);
projectStatusFilters.splice(0, 0, xx);
---

<Layout title="Home">
  <svg
    class="w-full absolute m-0 z-0 pointer-events-none"
    height="758"
    viewBox="0 0 1512 758"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g opacity="0.38" filter="url(#filter0_f_4_74)">
      <path
        d="M1482.5 678C1938.96 678 2309 304.382 2309 -156.5C2309 -617.382 1938.96 -991 1482.5 -991C1026.04 -991 656 -617.382 656 -156.5C656 304.382 1026.04 678 1482.5 678Z"
        fill="#FEC158"
        fill-opacity="0.39"></path>
      <path
        d="M624.5 551C1068.81 551 1429 330.276 1429 58C1429 -214.276 1068.81 -435 624.5 -435C180.187 -435 -180 -214.276 -180 58C-180 330.276 180.187 551 624.5 551Z"
        fill="#DE2F39"
        fill-opacity="0.207843"></path>
      <path
        d="M193 144.23L204.361 124.624L215.596 122L193 144.23Z"
        fill="#DE2F39"
        fill-opacity="0.207843"></path>
    </g>
    <defs>
      <filter
        id="filter0_f_4_74"
        x="-260"
        y="-1071"
        width="2649"
        height="1829"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur stdDeviation="40" result="effect1_foregroundBlur_4_74"
        ></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <main class="relative z-10">
    {
      featuredTokens.length > 0 ? (
        <div
          class="w-full overflow-hidden relative h-full marquee"
          x-data={`marquee(${JSON.stringify(featuredTokens)})`}
        >
          <div x-ref="container" />
          <section class="container container-grid lg:max-h-screen-9/10 py-8 lg:py-20 pointer-events-none">
            <div class="lg:col-start-2 col-span-4 lg:col-span-5 flex justify-center items-center">
              <div
                x-ref="token"
                x-bind="tokenHolder"
                class="mx-2 mb:mx-0 mb-8 md:mb-0 translate-y-4 w-full aspect-square bg-white/25 rounded-4xl border-6 border-white bg-cover bg-center shadow-card transition-all"
              />
            </div>
            <div class="col-span-4 lg:col-start-7 lg:col-end-12 flex flex-col justify-center items-center px-2 py-6 lg:px-0">
              <h1 class="text-center md:text-right mb-1">
                {settings.splashHeader || "Collect Digital Art"}
              </h1>
              <p class="font-trade-gothic text-body tracking-wider text-center md:text-right">
                {settings.splashBody ||
                  "from more than 2,000 of our talented artists from Singapore and other ASEAN countries "}
              </p>
              <a
                href={settings.splashButtonUri || "/artists"}
                class="btn btn--black btn--standard md:self-end my-3 pointer-events-auto"
              >
                <h4>{settings.splashButtonText || "See our artists"}</h4>
              </a>
            </div>
          </section>
        </div>
      ) : (
        <div class="w-full overflow-hidden relative h-full marquee">
          <div x-ref="container" />
          <section class="container container-grid lg:max-h-screen-9/10 py-8 lg:py-20 pointer-events-none">
            <div class="lg:col-start-2 col-span-4 lg:col-span-5 flex justify-center items-center">
              <div
                style={`background-image: url(${getLargestPossibleImage(
                  collections[0].coverImg,
                  "medium"
                )})`}
                class="mx-2 mb:mx-0 mb-8 md:mb-0 translate-y-4 w-full aspect-square bg-white/25 rounded-4xl border-6 border-white bg-cover bg-center shadow-card transition-all"
              />
            </div>
            <div class="col-span-4 lg:col-start-7 lg:col-end-12 flex flex-col justify-center items-center px-2 py-6 lg:px-0">
              <h1 class="text-center md:text-right mb-1">
                {settings.splashHeader || "Collect Digital Art"}
              </h1>
              <p class="font-trade-gothic text-body tracking-wider text-center md:text-right">
                {settings.splashBody ||
                  "from more than 2,000 of our talented artists from Singapore and other ASEAN countries "}
              </p>
              <a
                href={settings.splashButtonUri || "/artists"}
                class="btn btn--black btn--standard md:self-end my-3 pointer-events-auto"
              >
                <h4>{settings.splashButtonText || "See our artists"}</h4>
              </a>
            </div>
          </section>
        </div>
      )
    }
    {
      featuredCollections.length > 0 && (
        <section class="w-full bg-grey-darker text-white snap-start">
          <h5 class="alt text-center md:text-right pt-10 px-10">
            Featured collection
          </h5>
          <div
            x-data="featuredCollectionCarousel({
        draggable: false,
        cellAlign: 'center',
        prevNextButtons: true,
        autoPlay: false,
      })"
            class="carousel"
            x-ref="carousel"
          >
            {featuredCollections.map((featuredCollection) => (
              <div class="w-full featured-collection pb-8">
                <div class="px-4 md:px-10 pb-0 md:pb-4 lg:pb-10">
                  <a href={`/collections/${featuredCollection.slug}`}>
                    <h1 class="text-center md:text-right text-white mt-2 break-words">
                      {featuredCollection.title}
                    </h1>
                  </a>
                  <div class="flex flex-col md:flex-row gap-y-0.5 items-center md:justify-end mt-1">
                    <ProjectStatus status={featuredCollection.status} />
                    <h4 class="inline-block md:pl-5 pt-1 md:pt-0">
                      By{" "}
                      <a href={`/artists/${featuredCollection.artist.slug}`}>
                        {featuredCollection.artist.name}
                      </a>
                    </h4>
                    <div class="flex flex-row items-center">
                      <h4 class="inline-block md:pl-5 font-normal">
                        <strong>{featuredCollection.totalSupply}</strong>
                        of <strong>
                          {featuredCollection.totalTokens}
                        </strong>{" "}
                        minted
                      </h4>
                      <h4 class="inline-flex flex-row pl-3 justify-center items-center">
                        <img src={ethLogo} width="20" alt="" />
                        <span class="pl-1">
                          {featuredCollection.mintPrice / 10 ** 18}
                        </span>
                      </h4>
                    </div>
                  </div>
                </div>
                <div
                  x-data="featuredCollectionCarousel({
                  cellSelector: '.token',
                  pageDots: false,
                  groupCells: '80%',
                  on: {
                    ready: function() { console.log(this) }
                  }
                })"
                  x-ref="carousel"
                >
                  {featuredCollection.tokens.map((token) => (
                    <a
                      class="token w-2/3 md:w-1/3 lg:w-1/4 inline-block"
                      href={`/collections/${featuredCollection.slug}/tokens/${token.slug}`}
                    >
                      <div
                        class="rounded-4xl border-6 border-white bg-cover bg-center shadow-card"
                        style={`background-image: url(${getLargestPossibleImage(
                          token.image,
                          "medium"
                        )}); aspect-ratio: ${token.image.width} / ${
                          token.image.height
                        }`}
                      />
                    </a>
                  ))}
                </div>
              </div>
            ))}
          </div>
        </section>
      )
    }
    <section class="relative m-0 md:mt-16 has-bg has-bg--large">
      <div class="container">
        <div
          class="mt-8 md:mt-4 px-4 md:px-8 dropdown-wrapper flex-col md:flex-row z-40"
        >
          <a
            href="/collections"
            class="btn btn--black btn--standard inline-flex"
            ><h4>View all collections</h4>
          </a>
          <Dropdown
            label="Browse"
            id="filterBy"
            listenTo="allCollections"
            selects={projectStatusFilters}
          />
        </div>
        <Carousel
          listenTo="filterBy"
          defaultFilter={["status", projectStatusFilters[0].filters[0][1]]}
          data={collections}
          buttonPosition={"outside"}
          className="carousel--btn-flush lg:pt-2 md:px-8 lg:px-0"
          activeCellWidth="100%"
          cellAlign="center"
          wrapAround={false}
        >
          <div slot="template" class="carousel-item w-2/3 md:w-1/2 lg:w-1/3">
            <CollectionTemplate />
          </div>
          <div slot="no-results">
            <h2 class="h-32 text-center text-black/40">No Results</h2>
          </div>
        </Carousel>
      </div>
    </section>
  </main>
</Layout>

<script>
  import Alpine from "alpinejs";
  import intersect from "@alpinejs/intersect";

  Alpine.plugin(intersect);
  document.addEventListener("alpine:init", () => {});
</script>
