---
import {
  fetchFromAPI,
  getLargestPossibleImage,
  projectStatusFilters,
} from "../library/helpers";
import Layout from "../layouts/Layout.astro";
import ethLogo from "../images/eth-logo.png";
import ProjectStatus from "../components/ProjectStatus.astro";
import Token from "../components/Token.astro";
import Dropdown from "../components/Dropdown.astro";
import CollectionTemplate from "../components/ClientCollection.astro";
import Carousel from "../components/ClientCarousel.astro";
import Card from "../components/ClientCard.astro";

import orderBy from "lodash/orderBy";

const { data: settings } = await fetchFromAPI("/general-setting", {
  populate: [
    "collections",
    "collections.artist",
    "collections.tokens",
    "collections.tokens.slug",
    "collections.tokens.image",
  ],
});

const featuredCollections = settings.collections.map((collection) => {
  return {
    ...collection,
    tokens: orderBy(collection.tokens, (token) => Number(token.tokenId)).slice(
      0,
      collection.totalSupply
    ),
  };
});

const { data: collections } = await fetchFromAPI("/collections", {
  populate: ["artist.name", "artist.slug", "coverImg"],
  fields: ["status", "title", "slug", "mintPrice"],
});
---

<Layout title="Home">
  <svg
    class="w-full absolute m-0 z-0 pointer-events-none"
    height="758"
    viewBox="0 0 1512 758"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g opacity="0.38" filter="url(#filter0_f_4_74)">
      <path
        d="M1482.5 678C1938.96 678 2309 304.382 2309 -156.5C2309 -617.382 1938.96 -991 1482.5 -991C1026.04 -991 656 -617.382 656 -156.5C656 304.382 1026.04 678 1482.5 678Z"
        fill="#FEC158"
        fill-opacity="0.39"></path>
      <path
        d="M624.5 551C1068.81 551 1429 330.276 1429 58C1429 -214.276 1068.81 -435 624.5 -435C180.187 -435 -180 -214.276 -180 58C-180 330.276 180.187 551 624.5 551Z"
        fill="#DE2F39"
        fill-opacity="0.207843"></path>
      <path
        d="M193 144.23L204.361 124.624L215.596 122L193 144.23Z"
        fill="#DE2F39"
        fill-opacity="0.207843"></path>
    </g>
    <defs>
      <filter
        id="filter0_f_4_74"
        x="-260"
        y="-1071"
        width="2649"
        height="1829"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur stdDeviation="40" result="effect1_foregroundBlur_4_74"
        ></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <main class="relative z-10">
    <div class="w-full relative">
      <section
        class="container container-grid lg:max-h-screen-9/10 py-8 lg:py-20"
      >
        <div
          class="lg:col-start-2 col-span-4 lg:col-span-5 flex justify-center items-center"
        >
          <Token
            x-data="{ show: false }"
            x-intersect.once="show = true"
            x-bind:class="show && 'card-animation--enter'"
            title={featuredCollections[0].tokens[0].title}
            className={`max-w-full w-full lg:max-h-screen-2/3 ${
              featuredCollections[0].tokens[0].image.width >
              featuredCollections[0].tokens[0].image.height
                ? "w-full"
                : "h-full"
            } translate-y-12 card-animation--before`}
            img={getLargestPossibleImage(
              featuredCollections[0].tokens[0].image,
              "medium"
            )}
            aspectRatio={`${featuredCollections[0].tokens[0].image.width} / ${featuredCollections[0].tokens[0].image.height}`}
          />
        </div>
        <div
          class="col-span-4 lg:col-start-7 lg:col-end-12 flex flex-col justify-center items-center px-2 py-6 lg:px-0"
        >
          <h1 class="text-center md:text-right mb-1">Collect Digital Art</h1>
          <p
            class="font-trade-gothic text-body tracking-wider text-center md:text-right"
          >
            from more than 2,000 of our talented artists from Singapore and
            other ASEAN countries
          </p>
          <a
            href="/artists"
            class="btn btn--black btn--standard md:self-end my-3"
            ><h4>See our artists</h4>
          </a>
        </div>
      </section>
    </div>
    <section class="w-full bg-grey-darker text-white snap-start">
      <h5 class="alt text-center md:text-right pt-10 px-10">
        Featured collection
      </h5>
      <div
        x-data="featuredCollectionCarousel({
        draggable: false,
        cellAlign: 'center',
        prevNextButtons: true,
        autoPlay: false,
      })"
        class="carousel"
        x-ref="carousel"
      >
        {
          featuredCollections.map((featuredCollection) => (
            <div class="w-full featured-collection pb-8">
              <div class="px-4 md:px-10 pb-0 md:pb-4 lg:pb-10">
                <a href={`/collections/${featuredCollections[0].slug}`}>
                  <h1 class="text-center md:text-right text-white mt-2 break-words">
                    {featuredCollection.title}
                  </h1>
                </a>
                <div class="flex flex-col md:flex-row gap-y-0.5 items-center md:justify-end mt-1">
                  <ProjectStatus status={featuredCollection.status} />
                  <h4 class="inline-block md:pl-5 pt-1 md:pt-0">
                    By{" "}
                    <a href={`/artists/${featuredCollection.artist.slug}`}>
                      {featuredCollection.artist.name}
                    </a>
                  </h4>
                  <div class="flex flex-row items-center">
                    <h4 class="inline-block md:pl-5 font-normal">
                      <strong>{featuredCollection.totalSupply}</strong>
                      of <strong>{featuredCollection.totalTokens}</strong>{" "}
                      minted
                    </h4>
                    <h4 class="inline-flex flex-row pl-3 justify-center items-center">
                      <img src={ethLogo} width="20" alt="" />
                      <span class="pl-1">
                        {featuredCollection.mintPrice / 10 ** 18}
                      </span>
                    </h4>
                  </div>
                </div>
              </div>
              <div
                x-data="featuredCollectionCarousel({
                  cellSelector: '.token',
                  pageDots: false,
                  groupCells: '80%',
                  on: {
                    ready: function() { console.log(this) }
                  }
                })"
                x-ref="carousel"
              >
                {featuredCollection.tokens.map((token) => (
                  <a
                    class="token w-2/3 md:w-1/3 lg:w-1/4 inline-block"
                    href={`/collections/${featuredCollection.slug}/tokens/${token.slug}`}
                  >
                    <div
                      class="rounded-4xl border-6 border-white bg-cover bg-center shadow-card"
                      style={`background-image: url(${getLargestPossibleImage(
                        token.image,
                        "medium"
                      )}); aspect-ratio: ${token.image.width} / ${
                        token.image.height
                      }`}
                    />
                  </a>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section class="relative m-0 md:mt-16 has-bg has-bg--large">
      <div class="container">
        <div
          class="mt-8 md:mt-4 px-4 md:px-8 dropdown-wrapper flex-col md:flex-row z-40"
        >
          <a
            href="/collections"
            class="btn btn--black btn--standard inline-flex"
            ><h4>View all collections</h4>
          </a>
          <Dropdown
            label="Browse"
            id="filterBy"
            listenTo="allCollections"
            selects={projectStatusFilters}
          />
        </div>
        <Carousel
          listenTo="filterBy"
          defaultFilter={["status", "CurrentlyMinting"]}
          data={collections}
          buttonPosition={"outside"}
          className="carousel--btn-flush lg:pt-2 md:px-8 lg:px-0"
          activeCellWidth="100%"
          cellAlign="center"
          wrapAround={false}
        >
          <div slot="template" class="carousel-item w-2/3 md:w-1/2 lg:w-1/3">
            <CollectionTemplate />
          </div>
          <div slot="no-results">
            <h2 class="h-32 text-center text-black/40">No Results</h2>
          </div>
        </Carousel>
      </div>
    </section>
  </main>
</Layout>

<script>
  import Alpine from "alpinejs";
  import intersect from "@alpinejs/intersect";
  import Flickity from "flickity";

  Alpine.plugin(intersect);
  document.addEventListener("alpine:init", () => {
    Alpine.data("featuredCollectionCarousel", (opts) => ({
      active: 0,
      opts,
      carousel: undefined,
      init() {
        if (!!this.opts.on === false) {
          this.opts.on = {
            change: (i) => {
              this.active = i;
            },
          };
        } else {
          this.opts.on.change = (i) => {
            this.active = i;
          };
        }

        this.carousel = new Flickity(this.$refs.carousel, {
          cellSelector: ".featured-collection",
          cellAlign: "center",
          wrapAround: true,
          autoPlay: 5000,
          arrowShape:
            "M39.7407 50L62 18.0197L53.4492 12L27 50L53.4492 88L62 81.9803L39.7407 50Z",
          pageDots: true,
          prevNextButtons: false,
          ...this.opts,
        });

        setTimeout(() => {
          this.carousel.resize();
        }, 100);
      },
    }));
  });
</script>
