---
export interface Props {
  className?: string;
  wrapAround?: boolean;
  prevNextButtons?: boolean;
  cellAlign?: "left" | "center" | "right";
  activeCellWidth?: string;
  buttonPosition?: "inside" | "outside";
}

import "flickity/dist/flickity.min.css";

const {
  className = "",
  cellAlign = "center",
  wrapAround = true,
  prevNextButtons = true,
  activeCellWidth = "75%",
  buttonPosition = "inside",
} = Astro.props;
---

<div
  x-clock
  class={`w-full h-full text-white flex items-center justify-center ${className}`}
>
  <div
    class="w-full grid grid-cols-1"
    x-data={`carousel({
      cellAlign: "${cellAlign}",
      wrapAround: ${wrapAround},
      prevNextButtons: ${prevNextButtons},
      groupCells: "${activeCellWidth}",
      buttonPosition: "${buttonPosition}",
    })`}
  >
    <div
      class={`carousel col-start-1 row-start-1 ${
        buttonPosition === "outside" && "carousel--btn-outside"
      }`}
      x-ref="carousel"
    >
      <slot />
    </div>
  </div>
</div>

<style>
  .carousel--btn-outside {
    :global(.flickity-prev-next-button.previous) {
      @apply lg:-left-22;
    }
    :global(.flickity-prev-next-button.next) {
      @apply lg:-right-22;
    }
  }

  .carousel {
    :global(.flickity-slider) {
      @apply flex items-center;
    }

    :global(.flickity-cell:not(.is-selected)) {
      @apply opacity-40;
    }

    :global(.flickity-button.flickity-prev-next-button) {
      @apply rounded-xl bg-white hover:bg-red hover:text-white transition-all;
      @apply focus:shadow-none;
    }
  }
</style>

<script>
  import Flickity from "flickity";

  document.addEventListener("alpine:init", () => {
    Alpine.data("carousel", (opts) => ({
      active: 0,
      opts,
      init() {
        var carousel = new Flickity(this.$refs.carousel, {
          ...this.opts,
          arrowShape:
            "M39.7407 50L62 18.0197L53.4492 12L27 50L53.4492 88L62 81.9803L39.7407 50Z",
          pageDots: false,
        });
        carousel.on("change", (i) => (this.active = i));
      },
    }));
  });
</script>
