---
import ethLogo from "../images/eth-logo.png";
---

<a x-bind:href="`/collections/${item.slug}`"> </a><div
  class="group card hover:lg:pb-1"
>
  <a x-bind:href="`/collections/${item.slug}`">
    <div class="card__img-wrapper">
      <div
        class="group-hover:scale-110 card__img"
        x-bind:style="`background-image: url(${item.coverImg})`"
      >
      </div>
    </div>
  </a>
  <div class="card__meta card__meta--2-col">
    <div class="flex-1">
      <a x-bind:href="`/collections/${item.slug}`">
        <h2 class="text-red" x-text="item.title"></h2>
      </a>
      <a
        :href="`/artists/${item.artist.slug}`"
        class="hover:text-black text-grey-dark"
      >
        <h6 class="uppercase" x-text="`By ${item.artist.name}`"></h6>
      </a>
    </div>
    <h4
      class="inline-flex flex-row items-center justify-center pl-0 lg:pl-3 text-black"
    >
      <img src={ethLogo} width="20" alt="" />
      <span class="px-1" x-text="item.mintPrice"></span>
    </h4>
  </div>
</div>
